**/pycache/
*.pyc
*.pyo


.venv/
venv/
env/


.vscode/
.idea/
.DS_Store


.git/
.gitignore


Dockerfile
.dockerignore


*.tar
*.tar.gz
dist/
build/
*.egg-info/


.env
*.env


tesseract_teste.py
ocr_ia_teste.py